/* Plugin Name: Thistle and That Custom Application Plugin
Plugin URI: https://thistleandthat.com
Description: An advanced floral configurator for wedding arrangements. Built with vue.
Version: 0.1
Author: Madwire Media
Author URI: https://madwire.com/
License: GPL2
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: baseplugin
Domain Path: /languages
GitHub Plugin URI: https://github.com/adamwhitlock1/thistle-and-that-plugin */